:root {
  --text-color: #fff;
  --bg-url: url('./assets/bg-mobile.jpg');
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url('./assets/MoonStars.svg');
}

.light {
  --text-color: #000;
  --bg-url: url('./assets/bg-mobile-light.jpg');
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url('./assets/Sun.svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

#container {
  max-width: 588px;
  margin-inline: auto;
  padding-top: 56px;
  padding-inline: 24px;
}

#profile {
  padding-block: 24px;
  text-align: center;
}

#profile img {
  width: 112px;
  margin-inline: auto;
}

#profile p {
  margin-top: 8px;
  line-height: 24px;
  font-weight: 500;
}

#switch {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 64px;
  height: 40px;
  margin-inline: auto;
  cursor: pointer;
}

#switch button {
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff var(--switch-bg-url) no-repeat center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition:
    box-shadow 0.4s ease,
    transform 0.4s ease;
}

#switch:hover button {
  box-shadow: 0 0 0 8px var(--highlight-color);
}

.light #switch button {
  transform: translateX(100%);
}

#switch span {
  width: 100%;
  height: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 24px;
}

.links a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 24px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.links a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-block: 24px;
}

#social-links li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

#social-links li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: var(--highlight-color);
  border-radius: 50%;
  transition:
    width 0.4s ease,
    height 0.4s ease;
}

#social-links li a:hover::before {
  width: 56px;
  height: 56px;
}

#social-links .icon {
  width: 24px;
  height: 24px;
}

footer {
  padding-block: 24px;
  font-size: 14px;
  text-align: center;
}

footer a {
  text-decoration: underline;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url('./assets/bg-desktop.jpg');
  }

  .light {
    --bg-url: url('./assets/bg-desktop-light.jpg');
  }
}
